.vs/LRPredict/v16/.suo   .vs/LRPredict/v16/Server/sqlite3/db.lock   .vs/LRPredict/v16/Server/sqlite3/storage.ide
.vs/LRPredict/v16/Server/obj/Debug/LRPredict.csprojAssemblyReference.cache
obj/Debug/LRPredict.exe
obj/Debug/LRPredict.pdb
bin/Debug/LearnedParams.csv
bin/Debug/LRPredict.exe
bin/Debug/LRPredict.pdb
.vs/LRPredict/v16/Server/
.vs/obj/Debug/LRPredict.csprojAssemblyReference.cache
.vs/
obj/Debug/LRPredict.csprojAssemblyReference.cache
bin/Debug/*.save